.Album {
  padding: 0 40px;
}

.Album .header {
  display: flex;
  margin-bottom: 40px;
}

.albumInfo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.albumInfo p {
  margin-bottom: 0;
}

.btnClose {
  background: red;
  padding: 10px 15px;
  width: 80px;
  border: 1px solid red;
  font-size: 1rem;
  color: #eee;
  border-radius: 5px;
  margin-top: 10px;
  transition: all ease-out 500ms;
}

.btnClose:hover {
  background: crimson;
}

.trackName {
  width: 400px;
}

table { 
  border-collapse: collapse; 
}

tr {
  border-bottom: 1px solid #eee;
}

th,
td {
  padding: 10px;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}